/* Style normalizer */
@import url(./normalize/normalize.css);

/* Fonts */
@import url(./fonts/font.css);

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  min-height: 100vh;
  /*font-family: Inter, sans-serif;*/
  color: #000;
  font-size: 16px;
  display: flex;
}
